@import url('Colours.css');

body
{
  background-color: var(--blue-bg);
  color: var(--blue-fg);
}

.App
{
}

.App > header
{
  display: grid;
  grid-template-columns: auto 100px;
  min-width: 100%;
  width: 640px;
  height: 80px;

}

.App > header > .Title
{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

.App > header > .Title > h1
{
  margin-bottom: 0px;
  padding: 0px;
  font-size: 25px;
  text-align: center;
}

.App > header > .Title > h2
{
  font-size: 18px;
  font-style: italic;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
}

.App > header > .ClockBox
{
  background-color: var(--footer-bg);
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: var(--footer-strong-fg);
  border-radius: 10px;
  border: 1px solid var(--footer-fg);
  font-family: "Orbitron", monospace;
}

.App > main
{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-around;
  align-content: center;
  min-height: 500px;
}

.App > main > nav
{
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: stretch;
  align-self: stretch;
  grid-row-gap: 10px;
}

.App > main > article
{
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  place-self: center;
}

.App > footer
{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 15px;
  padding-top: 2px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  font-family: Arial, sans-serif;
}

.App > footer > a
{
  font-weight: bold;
  color: var(--footer-fg-strong);
}

.App > footer > a:link,
.App > footer > a:visited
{
  text-decoration: none;
}


.App > footer > a:hover,
.App > footer > a:active
{
  text-decoration: underline;
}
