body
{
  /* All font colours were set by defining L as 30% (1-70%) of background
  colour, as specified on https://www.designworkplan.com/read/signage-and-color-contrast */

  /* Blue */
  background-color: hsl(201.3,45.1%,53.5%);
  color: hsl(201.3,45.1%,16.1%);

  /* Green */
/*  background-color: hsl(162.4,69.4%,69.2%);
  color: hsl(162.4,69.4%,20.8%);*/

  /* Red */
/*  background-color: hsl(337.7,16.9%,40.6%);
  color: hsl(337.7,16.9%,12.2%); */
}

header
{

}

main
{

}
footer
{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 15px;
  padding-top: 2px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  background-color: #93c0d8;
  color: hsl(201,32%,25%);
  font-family: Arial, sans-serif;
}

footer > a
{
  font-weight: bold;
  color: hsl(201,32%,15%);
}

footer > a:link,
footer > a:visited
{
  text-decoration: none;
}


footer > a:hover,
footer > a:active
{
  text-decoration: underline;
}
